*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.header .logo {
  font-size: 3rem;
  color: #f88949;
  text-align: center;
  margin: 1rem auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header .logo {
    font-size: 2.5rem;
  }
}

.header .logo-text {
  font-family: "PT Serif";
  font-size: 2.3rem;
}

.header-nav .item {
  width: 100%;
  display: block;
  font-family: "PT Serif";
  font-weight: bold;
}

.header-nav .item a {
  list-style: none;
  text-decoration: none;
}

.header-nav .item a li {
  font-size: 2rem;
  background-color: #f88949;
  color: #bebbbb;
  padding: 0.75rem 0;
  margin: 1.5rem 0;
  text-align: center;
  transition: 1s;
}

@media screen and (min-width: 768px) {
  .header-nav .item a li {
    font-size: 1.75rem;
    padding: 0.5rem 0;
  }
}

.header-nav .item a li:hover {
  background-color: #fff;
  color: #bebbbb;
}

.header .btn {
  text-align: center;
}

.header .btn .button {
  font-size: 1.2rem;
  font-family: "PT Serif";
  border: 2px solid #f88949;
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  transition: 1s;
}

@media screen and (min-width: 768px) {
  .header .btn .button {
    margin-top: 1.5rem;
  }
}

.header .btn .button:hover {
  background-color: #f88949;
  color: #fff;
}

.header-content {
  font-size: 1.5rem;
  margin: 3rem auto;
  font-family: "PT Serif";
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header-content {
    letter-spacing: 0.2rem;
  }
}

.header-content mark {
  background-color: #f88949;
  -webkit-background-clip: text;
  color: transparent;
}

.header .search-box .search {
  text-align: center;
}

.header .search-box .search ::placeholder {
  color: #f88949;
  padding-left: 1rem;
  font-weight: bold;
}

.header .search-box .search input {
  box-shadow: 0 0.01rem 1.5rem #dddbdb;
  width: 18rem;
  height: 3rem;
  outline: none;
  border-radius: 10px;
  border: none;
}

.header .search-box .search .fa-search {
  font-size: 1rem;
  background-color: #f88949;
  padding: 0.5rem;
  border-radius: 5rem;
  color: white;
  position: relative;
  right: 2.5rem;
}

.section {
  background-color: #eceaea;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.section-news {
  font-size: 1.3rem;
  font-family: "PT Serif";
  width: 100%;
  text-align: center;
  padding: 3rem 0.5rem 1.5rem 0.5rem;
}

.section .section-news span::before {
  content: "NEWS: ";
  color: #f88949;
  font-weight: bold;
}

.section-header {
  font-size: 2rem;
  font-family: "PT Serif";
  padding: 3.5rem 0 3.5rem 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-header {
    letter-spacing: 0.1rem;
  }
}

.section-cards {
  width: 100%;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .section-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.section-cards .card {
  box-shadow: 0 0.01rem 1.5rem #dddbdb;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 18rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .section-cards .card {
    width: 17rem;
    height: 33rem;
  }
}

.section-cards .card:hover {
  background-image: linear-gradient(#eceaea, #bebbbb);
  color: #fff;
  left: 50px;
  cursor: pointer;
}

.section .image {
  width: 45%;
  height: 45%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.content {
  border-top: 2px solid #eceaea;
  text-align: center;
}

.content-main {
  font-size: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2rem 0rem 3rem 0rem;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 768px) {
  .content-main {
    font-size: 1.5rem;
  }
}

.content-sub {
  font-size: 1.4rem;
}

.price-box {
  width: 100%;
  margin-top: 3.5rem;
  opacity: 0.4;
  text-align: center;
}

.price-box .price {
  width: 100%;
  background-color: #eceaea;
  padding: 1rem 0 1rem 0rem;
  font-size: 3rem;
  color: #f88949;
}

@media screen and (min-width: 768px) {
  .price-box .price {
    font-size: 2.5rem;
  }
}

.footer {
  width: 100%;
}

.footer-span {
  display: block;
  font-size: 2rem;
  font-family: "PT Serif";
  font-weight: bold;
  margin-top: 3rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-span {
    letter-spacing: 0.2rem;
  }
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .footer-items {
    flex-direction: row;
  }
}

.footer-items .item {
  box-shadow: 0 0.01rem 1.5rem #dddbdb;
  width: 90%;
  height: 8rem;
  margin: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .footer-items .item {
    width: 20rem;
    height: 6.5rem;
    margin-top: 0.5rem;
  }
}

.footer-items .item .image {
  width: 5rem;
  height: 5rem;
}

.footer-items .item .text {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .footer-items .item .text {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */