@import "colors";

@mixin shadow {
  box-shadow: 0.1rem 0.1rem 2rem rgb(204, 202, 202);
}
@mixin border($border-radius) {
  border: none;
  border-radius: $border-radius;
  outline: none;
}
@mixin shadow {
  box-shadow: 0 0.01rem 1.5rem rgb(221, 219, 219);
}
@mixin position($right) {
  position: absolute;
  right: $right;
}
@mixin hover($background-color, $color) {
  background-color: $background-color;
  color: $color;
}

// * 0-600px  phone
// *600px-900px tablet-portrate
// *900px-1200px tablet-landscape
// *1200px-1800px desktop
// *1800px +... big desktop
// * @mixin respond-phone {
//   * @media (max-width: 600px) {
// * @content;

// *breakpoint argoman

// * _phone
// *_tab-port
// *tab-land
// *big-desk
// 1em  16px

// *fonts//*
$font-pt: "PT Serif";
$font-robot: "Roboto Condensed", sans-serif;
// *fonts//*

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
