@import "colors";

$font-pt: "PT Serif";
$font-robot: "Roboto Condensed", sans-serif;

@mixin shadow {
  box-shadow: 0.1rem 0.1rem 2rem rgb(204, 202, 202);
}

* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  padding: 2rem 2rem 0rem 2rem;
}
