$color-primary: rgb(226, 26, 176);
$color-secondary: gray;
$color-orange: rgb(255, 94, 0);

$font-pt: "PT Serif";
$font-robot: "Roboto Condensed", sans-serif;

* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  margin: 5px;
}
