$color-primary: rgb(236, 38, 187);
$color-secondary: rgb(190, 187, 187);
$color-orange: rgb(248, 137, 73);
$color-light-gray: rgb(236, 234, 234);
$color-white: #fff;
$color-papular: rgb(125, 5, 172);
