.footer {
  width: 100%;

  &-span {
    display: block;
    font-size: 2rem;
    font-family: $font-pt;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.2rem;
    }
  }
  &-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    .item {
      @include shadow;
      width: 90%;
      height: 8rem;
      margin: 1rem;
      background-color: $color-white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;
      @media screen and (min-width: 768px) {
        width: 20rem;
        height: 6.5rem;
        margin-top: 0.5rem;
      }

      .image {
        width: 5rem;
        height: 5rem;
      }
      .text {
        font-size: 1.5rem;
        font-family: $font-robot;
        text-align: center;
        font-weight: bold;
        @media screen and (min-width: 768px) {
          font-size: 1.3rem;
        }
      }
    }
  }
}
