.footer {
  width: 100%;

  &-span {
    //  * @include position(3rem);
    display: block;
    font-size: 2rem;
    font-family: $font-pt;
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
  }
  &-items {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    .item {
      @include shadow;
      width: 90%;
      height: 8rem;
      margin: 1rem;
      background-color: $color-white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;

      .image {
        width: 5rem;
        height: 5rem;
      }
      .text {
        font-size: 1.5rem;
        font-family: $font-robot;
        text-align: center;
        font-weight: bold;
      }
    }
  }
}
