.footer {
  width: 100vw;
  height: 50vh;
  background-color: $color-light-gray;

  @include respond(phone) {
    width: 100%;
    height: auto;
  }

  &-span {
    @include position(3rem);
    font-size: 2rem;
    font-family: $font-pt;
    font-weight: bold;
    margin-top: 10rem;
    @include respond(phone) {
      font-size: 1.75rem;
      margin-top: 4rem;
    }
  }
  &-items {
    @include position(3rem);
    width: 50rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .item {
      @include shadow;
      width: 23rem;
      height: 8rem;
      background-color: $color-white;
      margin-top: 15rem;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      border-radius: 6px;
      @include respond(phone) {
        width: 20rem;
        height: 7rem;
        margin: 10rem 0 5rem 0;
        box-shadow: 0;
      }

      .image {
        width: 5rem;
        height: 5rem;
        @include respond(phone) {
          width: 5rem;
          height: 5rem;
        }
      }
      .text {
        font-size: 1.5rem;
        font-family: $font-robot;
        text-align: center;
        font-weight: bold;
        @media screen and (min-width: 3000px) {
          font-size: 4rem;
        }
      }
    }
  }
}
