.header {
  width: 100vw;
  height: 50vh;
  position: relative;

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    font-size: 2.5rem;
    color: $color-primary;
    display: flex;
    &-text {
      margin-left: 0.5rem;
      font-family: $font-robot;
    }
  }
  &-nav {
    .item {
      display: flex;
      font-family: $font-robot;
      font-weight: bold;
    }
    a {
      list-style: none;
      font-size: 1.75rem;
      text-decoration: none;
      padding: 0.75rem;
      color: $color-primary;
      transform: all 2s;

      &:hover {
        color: $color-secondary;
        transition: all 0.5s;
      }
    }
    .button {
      border: 1px solid $color-primary;
      border-radius: 1rem;
      margin: 0 1.5rem;
      font-weight: bold;
    }
  }

  &-content {
    width: 16rem;
    font-size: 1.75rem;
    margin-top: 10rem;
    font-family: $font-pt;
    mark {
      background-color: $color-primary;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  .search-box {
    @include shadow;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 32rem;
    .search-input {
      padding: 1.5rem;
      width: 25rem;
      border: none;
      border-radius: 5rem;
      outline: none;
    }
    .fas {
      font-size: 1.5rem;
      background-color: $color-orange;
      padding: 0.75rem;
      border-radius: 5rem;
      color: white;
      position: absolute;
      left: 24rem;
    }
  }
}
