.header {
  width: 100vw;
  height: 50vh;
  position: relative;
  @include respond(phone) {
    width: 100%;
    height: 50%;
    margin: 2rem 1.5rem 0 1.5rem;
  }

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    font-size: 2.5rem;
    color: $color-primary;
    display: flex;
    @include respond(phone) {
      font-size: 2rem;
    }

    &-text {
      margin-left: 0.5rem;
      font-family: $font-robot;
    }
  }
  &-nav {
    .item {
      display: flex;
      font-family: $font-robot;
      font-weight: bold;
    }
    a {
      list-style: none;
      font-size: 1.75rem;
      text-decoration: none;
      padding: 0.75rem;
      color: $color-primary;
      transform: all 2s;

      &:hover {
        color: $color-secondary;
        transition: all 0.5s;
      }
    }
    .button {
      border: 1px solid $color-primary;
      border-radius: 1rem;
      font-weight: bold;
    }
  }

  &-content {
    width: 16rem;
    font-size: 1.75rem;
    margin-top: 10rem;
    font-family: $font-pt;
    @include respond(phone) {
      margin-top: 3rem;
      font-size: 1.3rem;
      width: 100%;
    }

    mark {
      background-color: $color-primary;
      -webkit-background-clip: text;
      color: transparent;
    }
  }
  .search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 34rem;
    @include respond(phone) {
      position: absolute;
      top: 16rem;
    }

    .search-input {
      @include shadow;
      @include border(5rem);
      padding: 1.5rem;
      width: 25rem;
      @include respond(phone) {
        padding: 1rem;
      }
    }
  }
}
.fa-search {
  font-size: 1.5rem;
  background-color: $color-orange;
  padding: 0.75rem;
  border-radius: 5rem;
  color: white;
  position: absolute;
  left: 21rem;
}
