.header {
  //  * &-box {
  //  * @media screen and (min-width: 1024px) {
  // *  display: flex;
  // *  flex-direction: row;
  //  * justify-content: space-between;
  // *  }
  // *  }
  .logo {
    font-size: 3rem;
    color: $color-orange;
    text-align: center;
    margin: 1rem auto;
    cursor: pointer;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
    //  * @media screen and (min-width: 1024px) {
    // *  font-size: 2.5rem;
    // *  text-align: left;
    // *}

    &-text {
      font-family: $font-pt;
      font-size: 2.3rem;
    }
  }
  &-nav {
    .item {
      width: 100%;
      display: block;
      font-family: $font-pt;
      font-weight: bold;

      a {
        list-style: none;

        text-decoration: none;
        li {
          font-size: 2rem;
          background-color: $color-orange;
          color: $color-secondary;
          padding: 0.75rem 0;
          margin: 1.5rem 0;
          text-align: center;
          transition: 1s;
          @media screen and (min-width: 768px) {
            font-size: 1.75rem;
            padding: 0.5rem 0;
          }
          //  * @media screen and (min-width: 1024px) {
          // *  background-color: $color-white;
          // *  font-size: 1.5rem;
          // *  color: $color-orange;
          // *  }

          &:hover {
            @include hover($color-white, $color-secondary);
          }
        }
      }
    }
  }
  .btn {
    text-align: center;

    .button {
      font-size: 1.2rem;
      font-family: $font-pt;
      border: 2px solid $color-orange;
      border-radius: 1rem;
      padding: 0.75rem 1rem;
      transition: 1s;
      @media screen and (min-width: 768px) {
        margin-top: 1.5rem;
      }

      &:hover {
        @include hover($color-orange, $color-white);
      }
    }
  }

  &-content {
    font-size: 1.5rem;
    margin: 3rem auto;
    font-family: $font-pt;
    text-align: center;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.2rem;
    }

    mark {
      background-color: $color-orange;
      -webkit-background-clip: text;
      color: transparent;
    }
  }

  .search-box .search {
    text-align: center;

    ::placeholder {
      color: $color-orange;
      padding-left: 1rem;
      font-weight: bold;
    }
    input {
      @include shadow;
      width: 18rem;
      height: 3rem;
      outline: none;
      border-radius: 10px;
      border: none;
    }

    .fa-search {
      font-size: 1rem;
      background-color: $color-orange;
      padding: 0.5rem;
      border-radius: 5rem;
      color: white;
      position: relative;
      right: 2.5rem;
    }
  }
}
