.section {
  background-color: $color-light-gray;
  width: 100vw;
  height: auto;
  margin-top: 2rem;

  &-news {
    font-size: 1.5rem;
    font-family: $font-pt;
    width: 40rem;
    padding: 10rem 0 5rem 2rem;
  }
  .section-news span::before {
    content: "NEWS: ";
    color: $color-primary;
    font-weight: bold;
  }
  &-header {
    font-size: 3rem;
    font-family: $font-pt;
    padding: 10rem 0 5rem 2rem;
  }
  &-cards {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    .card {
      @include shadow;
      @include border(2rem);
      width: 23rem;
      height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;

      &:hover {
        background-image: linear-gradient($color-primary, $color-papular);
        color: $color-white;
        left: 50px;
        cursor: pointer;
      }
    }
    .image {
      width: 45%;
      height: 45%;
      padding-top: 5rem;
      padding-bottom: 4rem;
    }
  }
  .content {
    border-top: 1px solid $color-light-gray;
    &-main {
      font-size: 2.3rem;
      font-family: $font-robot;
      padding: 2rem 0rem 3rem 0rem;

      letter-spacing: 0.2rem;
    }
    &-sub {
      font-size: 1.4rem;
      font-family: $font-pt;
    }
  }
  .price-box {
    width: 100%;
    margin-top: 8rem;
    opacity: 0.4;

    .price {
      @include border(0.5rem);
      width: 100%;
      background-color: $color-light-gray;
      padding: 2rem 0 2.5rem 3rem;
      font-size: 4rem;
      color: $color-primary;
    }
  }
}
