.section {
  background-color: $color-light-gray;
  width: 100vw;
  height: auto;
  margin-top: 2rem;

  @include respond(phone) {
    margin-top: 10rem;
  }

  &-news {
    font-size: 1.5rem;
    font-family: $font-pt;
    width: 40rem;
    padding: 10rem 0 5rem 2rem;
    @include respond(phone) {
      width: 60%;
      font-size: 1.5rem;
      padding: 7rem 0 2rem 1rem;
    }
    @include respond(tab-port) {
      font-size: 1.75rem;
    }
  }
  .section-news span::before {
    content: "NEWS: ";
    color: $color-primary;
    font-weight: bold;
    @include respond(phone) {
      font-size: 1.5rem;
      padding: 7rem 0 2rem 1rem;
    }
  }
  &-header {
    font-size: 3rem;
    font-family: $font-pt;
    padding: 10rem 0 5rem 2rem;
    @include respond(phone) {
      font-size: 1.75rem;
      padding: 3rem;
    }
    @include respond(tab-port) {
      font-size: 2rem;
    }
  }
  &-cards {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    .card {
      @include shadow;
      @include border(2rem);
      width: 23rem;
      height: 45rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: $color-white;
      @include respond(phone) {
        width: 14rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      @include respond(tab-port) {
        width: 21rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &:hover {
        background-image: linear-gradient($color-primary, $color-papular);
        color: $color-white;
        left: 50px;
        cursor: pointer;
        @include respond(phone) {
          &:hover {
            background-image: linear-gradient($color-primary, $color-papular);
            color: $color-white;
            left: 50px;
            cursor: pointer;
          }
        }
      }
    }
    .image {
      width: 45%;
      height: 45%;
      padding-top: 5rem;
      padding-bottom: 4rem;
      @include respond(phone) {
        width: 60%;
        height: 60%;
        padding-bottom: 1rem;
        padding-top: 2rem;
      }
    }
  }
  .content {
    border-top: 1px solid $color-light-gray;

    &-main {
      font-size: 2.3rem;
      font-family: $font-robot;
      padding: 2rem 0rem 3rem 0rem;
      letter-spacing: 0.2rem;
      @include respond(phone) {
        font-size: 1.3rem;
        padding-bottom: 1.5rem;
      }
      @include respond(tab-port) {
        font-size: 2rem;
        padding-bottom: 1.5rem;
      }
    }
    &-sub {
      font-size: 1.4rem;
      font-family: $font-pt;
      @include respond(phone) {
        font-size: 1rem;
      }
      @include respond(tab-port) {
        font-size: 1.5rem;
      }
    }
  }
  .price-box {
    width: 100%;
    margin-top: 8rem;
    opacity: 0.4;
    @include respond(phone) {
      margin-top: 2rem;
    }

    .price {
      @include border(0.5rem);
      width: 100%;
      background-color: $color-light-gray;
      padding: 2rem 0 2.5rem 3rem;
      font-size: 4rem;
      color: $color-primary;
      @include respond(phone) {
        font-size: 1.75rem;
        padding: 1rem 1rem 1rem 1rem;
        text-align: center;
      }
      @include respond(tab-port) {
        font-size: 3.5rem;
        padding: 1rem 1rem 1rem 1rem;
        text-align: center;
      }
    }
  }
}
