.section {
  background-color: $color-light-gray;
  background-size: cover;
  width: 100%;
  height: auto;
  margin-top: 2rem;

  &-news {
    font-size: 1.3rem;
    font-family: $font-pt;
    width: 100%;
    text-align: center;
    padding: 3rem 0.5rem 1.5rem 0.5rem;
  }
  .section-news span::before {
    content: "NEWS: ";
    color: $color-orange;
    font-weight: bold;
  }
  &-header {
    font-size: 2rem;
    font-family: $font-pt;
    padding: 3.5rem 0 3.5rem 2rem;
    text-align: center;
    @media screen and (min-width: 768px) {
      letter-spacing: 0.1rem;
    }
  }
  &-cards {
    width: 100%;
    padding-bottom: 0.5rem;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }

    .card {
      @include shadow;
      @include border(10px);
      width: 18rem;
      height: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 1.5rem auto;
      background-color: $color-white;
      @media screen and (min-width: 768px) {
        width: 17rem;
        height: 33rem;
      }

      &:hover {
        background-image: linear-gradient($color-light-gray, $color-secondary);
        color: $color-white;
        left: 50px;
        cursor: pointer;
      }
    }
  }
  .image {
    width: 45%;
    height: 45%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.content {
  border-top: 2px solid $color-light-gray;
  text-align: center;

  &-main {
    font-size: 2rem;
    font-family: $font-robot;
    padding: 2rem 0rem 3rem 0rem;
    letter-spacing: 0.2rem;
    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &-sub {
    font-size: 1.4rem;
  }
}
.price-box {
  width: 100%;
  margin-top: 3.5rem;
  opacity: 0.4;
  text-align: center;

  .price {
    width: 100%;
    background-color: $color-light-gray;
    padding: 1rem 0 1rem 0rem;
    font-size: 3rem;
    color: $color-orange;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
}
